html,
body,
header,
footer,
main,
nav,
ul,
#main-disclamer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--default-font);
  color: var(--primary-font-color);
  background-color: var(--primary-bg-color);
}
header,
footer {
  background-color: var(--header-background-color);
  color: var(--secondary-font-color);
  height: min-content;
}
.logo-wrapper {
  background-color: var(--logotype-background-color);
  color: var(--logotype-color);
}
#main-disclamer {
  height: 180px;
  background-color: var(--header-background-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
}
#main-disclamer-content {
  display: flex;
  column-gap: 1rem;
}
main section {
  padding: 20px;
  /* margin: 10px; */
  /* border: 1px solid var(--border-color); */
  border-radius: var(--border-radius);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headline-font);
}
h1 {
  font-size: var(--headline1-size);
  color: var(--headline-color-inverted);
  margin: 5px 0;
  line-height: 1rem;
  text-align: left;
}
h2 {
  font-size: var(--headline2-size);
}
h3 {
  font-size: var(--headline3-size);
}

main > h1 {
  background-color: var(--headline-bg-color-alert);
  color: var(--headline-color-inverted);
  line-height: 4rem;
  padding: 5px 3rem 0 3rem;
  width: calc(80% - 6rem);
}

/* NAVIGATION STRUCTURES */
header > nav {
  height: 100%;
}
nav ul {
  list-style: none;
}
nav a {
  font-family: var(--link-font);
  text-decoration: none;
  color: var(--link-color);
}
a {
  font-family: var(--link-font);
}
#logotype-wrapper {
  background-color: var(--logotype-background-color);
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 1rem;
}
#logotype-wrapper > a {
  font-size: var(--logotype-size);
  color: var(--logotype-color);
  font-family: var(--logotype-font);
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
}
header nav li a {
  margin: 1.5rem;
  background-color: var(--followup-text-bg-color);
  color: var(--followup-text-color);
  font-size: var(--followup-text-size);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
}
header > nav li > a:after {
  content: " \2192";
}
nav a:hover {
  color: var(--hover-color);
}
nav a:active {
  color: var(--active-color);
}

/* FOOTER */
footer a {
  font-size: 0.7rem;
}
.yellow,
.green {
  padding: 1.5rem 1rem 0.5rem 1rem;
}
.yellow {
  background-color: var(--info-bg-color-yellow);
}
.green {
  background-color: var(--info-bg-color-green);
}
